<form action="/landmarks" method="post">

<legend>Landmark Name</legend>
<input type="text" name="landmark[name]" id="landmark_name">

<legend>Landmark Year Completed</legend>
<input type="text" name="landmark[year_completed]" id="landmark_year_completed">

<legend>Chose Existing Figure</legend>

<%Figure.all.each do |figure|%>
    <input type="checkbox" name="landmark[figure_id]" value="<%=figure.id%>" id="figure_<%=figure.id%>"><%=figure.name%></input>
<%end%>

<legend>Make New Figure</legend>
<input type="text" name="figure[name]" id="new_figure">

<input type="submit" name="Create New Landmark" id="Create New Landmark">
</form>
